.blog-feed {
  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      color: #0e0d5d;
    }
  }
  &__body {
    height: calc(100vh - 220px);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .no-post {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #424242;
    background-color: #fff;
    padding: 24px;
    border-radius: 16px;
    text-align: center;
  }
}
