main {
  width: 100%;
}

.main {
  &__heading {
    color: #0e0d5d;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    position: relative;
    padding-left: 46px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-size: contain;
      width: 34px;
      height: 34px;
    }
  }
  &__blog-section {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    width: 100%;
    &-left {
      width: 380px;
      max-width: 380px;
    }
    &-right {
      &-blog {
        max-width: 874px;
        &-wrapper {
          display: flex;
          justify-content: space-between;
          gap: 42px;
        }
      }
      &__systems {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.course-modules {
  &__options {
    .el-scrollbar__view {
      padding: 0 !important;
    }
  }
}

@media (max-width: 1300px) {
  .main__blog-section {
    &-left {
      width: 100%;
      .profile-info__user-faculty {
        margin: 0 auto;
        max-width: 500px;
      }
    }
    &-right {
      max-width: 57%;
    }
    &-right__systems {
      // column-gap: 10px;
      flex-direction: column;
      row-gap: 12px;
      width: 100%;
    }
    .book-tutor,
    .news-frame {
      flex-shrink: 1;
      max-width: 100%;
      max-height: 98px;
    }
  }
  .main__learning-section {
    margin-top: 20px;
    &-right {
      width: 57%;
    }
  }
}

@media (max-width: 920px) {
  .main__blog-section {
    column-gap: 20px;
    &-left {
      max-width: 320px;
    }
    &-right {
      max-width: 50%;
    }
  }
  .main__learning-section {
    &-left {
      max-width: 320px;
    }
    &-right {
      max-width: 50%;
    }
  }
  .main__heading {
    font-size: 24px;
    padding-left: 34px;
    &::before {
      top: 2px;
      width: 24px;
      height: 24px;
    }
  }
}
@media (max-width: 500px) {
  .main {
    &__blog-section {
      flex-direction: column;
      row-gap: 20px;
      &-left {
        width: 100%;
        max-width: 100%;
        .profile-section__games {
          display: none;
        }
      }
      &-right-blog {
        max-width: 100%;
        &-wrapper {
          flex-direction: column;
          gap: 50px;
        }
        .blog-post {
          width: 100%;
          .post-image {
            width: 100%;
          }
        }
      }
      &-right__systems {
        flex-direction: column;
        row-gap: 10px;
      }
    }
  }
}
