.login {
  &_btn {
    width: 100%;
    height: 56px;
    border-radius: 10px;
    padding: 18px 24px 18px 24px;
    gap: 10px;
    background-color: #EF400F;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 19.8px;
    border: none;
    margin-top: 17px;
  }

  &_no-password {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #212121;
    margin-top: 40px;
  }

  &_sign {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #EF400F;
  }

  .el-tabs {
    &__header {
      margin-bottom: 28px !important;
    }

    &__content {
      max-width: 500px !important;
      width: 404px;
      text-align: right;

      .toggleQr {
        margin-top: 20px;
        cursor: pointer;
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 22.4px;
        letter-spacing: 0.20000000298023224px;
        color: #212121;
        text-align: center;
      }

    }

    &__nav {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      width: 100%;

      &-wrap {
        padding: 4px;
        border-radius: 14px !important;
        background-color: #f5f5f5;

        &::after {
          display: none;
        }
      }
    }

    &__item.is-top {
      font-size: 18px;
      font-weight: 700;
      line-height: 23.58px;
      letter-spacing: 0.20000000298023224px;
      color: #757575;
      width: 50%;
      padding: 0;

      &.is-active {
        background-color: #fff;
        color: #212121;
        border-radius: 10px;
      }
    }

    &__active-bar {
      display: none;
    }
  }

  .error-message {
    display: flex;
    font-size: 16px;
    margin-top: 5px;
    color: red;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .login .el-tabs__content {
    max-width: 340px !important;
    // width: 300px !important;
  }
}