.create-post-modal {
  width: 500px !important;
  border-radius: 16px !important;
}
.create-post-modal header {
  display: none;
}
.create-post-modal .el-dialog__body {
  padding: 15px !important;
}
.create-post-modal .create-post__header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.create-post-modal .create-post__header img {
  background-color: #fafafa;
  padding: 5px;
  border-radius: 12px;
  width: 48px;
  height: 48px;
}
.create-post-modal .create-post__header h1 {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  color: #0e0d5d;
}
.create-post-modal .create-post__header p {
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: 0.200000003px;
  color: #424242;
}
.create-post-modal .create-post__body {
  margin: 15px 0;
}
.create-post-modal .create-post__body textarea {
  resize: none;
  box-shadow: none !important;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: 0.200000003px;
  color: #424242;
}
.create-post-modal .create-post__body textarea::-moz-placeholder {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0.200000003px;
  color: #e0e0e0;
}
.create-post-modal .create-post__body textarea::placeholder {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0.200000003px;
  color: #e0e0e0;
}
.create-post-modal .create-post__body .image-preview {
  position: relative;
}
.create-post-modal .create-post__body .image-preview .times-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
.create-post-modal .create-post__body .image-preview .times-btn button {
  border: 0;
  background: transparent;
}
.create-post-modal .create-post__body .image-preview img {
  height: 390px;
  border-radius: 8px;
}
.create-post-modal .create-post__body .upload-wrapper-box {
  margin: 10px 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: right;
}
.create-post-modal .create-post__body .upload-wrapper-box .el-upload-dragger {
  background-color: transparent;
  border: none;
}
.create-post-modal .create-post__body .upload-wrapper-box .el-upload__text {
  color: #bdbdbd;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.2px;
}
.create-post-modal .create-post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-post-modal .create-post__footer .upload-image {
  background-color: transparent;
}
.create-post-modal .create-post__footer .send {
  background: linear-gradient(286.17deg, #e3613d 0%, #ff7d58 100%);
  padding: 12px 24px;
  border-radius: 10px;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.58px;
  letter-spacing: 0.200000003px;
  color: #fff;
}
.create-post-modal .create-post__footer .send:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.create-post-modal .create-post .el-upload-dragger {
  border: none !important;
}
.create-post-modal .create-post .el-upload-list {
  display: none !important;
}
.create-post-modal button:hover {
  cursor: pointer;
}

.cropper-wrapper {
  height: 300px;
  position: relative;
  margin: 10px 0;
}
.cropper-wrapper .times-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 123;
}
.cropper-wrapper .times-btn button {
  background-color: transparent;
  background: none;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
}
.cropper-wrapper .vue-advanced-cropper {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}
.cropper-wrapper .vue-advanced-cropper .vue-line-wrapper {
  display: none;
}

@media (max-width: 500px) {
  .create-post-modal {
    width: 90% !important;
  }
}/*# sourceMappingURL=style.css.map */


.mySwiper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
  color: black;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #f0856e;
}


.remove-btn {
  border-radius: 50%;
  background-color: white;
  width: 50px;
  border: 2px dotted red;
  height: 50px;
  color: #f5f5f5;
  cursor: pointer;
  margin-left: 10px;
}

